
<!--modal edit -->

	<div class="modal-header">
		<h4 class="modal-title">{{'MAILING.TITLE' | translate }}</h4>
		<button type="button" class="close" (click)="hideModal()">×</button>		
	</div>
	<div class="modal-body">
		<app-form-mailing [edit]="edit" [mailing]="entity" ></app-form-mailing>
	</div>
	<div class="modal-footer">		
		<button type="button" (click)="hideModal()" class="btn btn-default">{{'MAILING.FORM.BUTTON.CANCEL' | translate }}</button>
		<button type="button" (click)="save(entity)" appEnter class="btn btn-primary">{{'MAILING.FORM.BUTTON.SAVE' | translate }}</button>
	</div>

