
<!--modal edit -->

	<div class="modal-header">
		<h4 class="modal-title">{{'SOCIAL_NETWORK.TITLE' | translate }}</h4>
		<button type="button" class="close" (click)="hideModal()">×</button>		
	</div>
	<div class="modal-body">
		<app-form-social-network [edit]="edit" [socialNetwork]="entity" ></app-form-social-network>
	</div>
	<div class="modal-footer">		
		<button type="button" (click)="hideModal()" class="btn btn-default">{{'SOCIAL_NETWORK.FORM.BUTTON.CANCEL' | translate }}</button>
		<button type="button" (click)="save(entity)" appEnter class="btn btn-primary">{{'SOCIAL_NETWORK.FORM.BUTTON.SAVE' | translate }}</button>
	</div>

