
<!--modal edit -->

	<div class="modal-header">
		<h4 class="modal-title">{{'SETTINGS.TITLE' | translate }}</h4>
		<button type="button" class="close" (click)="hideModal()">×</button>		
	</div>
	<div class="modal-body">
		<app-form-settings [edit]="edit" [(settings)]="entity" ></app-form-settings>
	</div>
	<div class="modal-footer">		
		<button type="button" (click)="hideModal()" class="btn btn-default">{{'SETTINGS.FORM.BUTTON.CANCEL' | translate }}</button>
		<button type="button" (click)="save(entity)" appEnter class="btn btn-primary">{{'SETTINGS.FORM.BUTTON.SAVE' | translate }}</button>
	</div>

