
					<div class="row">
						
						<div class="form-group col-md-12">
							<label class="control-label">{{'SETTINGS.FORM.LABEL.KEY' | translate }}</label>
							<input type="text" class="form-control" [(ngModel)]="settings.key" name="settings.key" autofocus />
						</div>
						
						<div class="form-group col-md-12">
							<label class="control-label">{{'SETTINGS.FORM.LABEL.VALUE' | translate }}</label>
							<input type="text" class="form-control" [(ngModel)]="settings.value" name="settings.value" autofocus />
						</div>
					</div>
