version: '2.2'
services:
  tg-app-model-front:
    image: devremoto/tgappmodel-front
    container_name: tg-app-model-front
    ports:
      - ${HOST_PORT}:80

  tg-app-model-api:
    image: devremoto/tgappmodel-api
    container_name: tg-app-model-api
    ports:
      - ${API_PORT}:80
    environment:
      - AppModelConfiguration:Authority=${STS_SERVER}
      - AppModelConfiguration:UseAuthority=${USE_AUTHORITY}
      - AppModelConfiguration:ClientId=${CLIENT_ID}
      - AppModelConfiguration:RequireHttpsMetadata=${USE_SSL}
      - AppModelConfiguration:CorsOrigins:0=${STS_SERVER}
      - AppModelConfiguration:CorsOrigins:1=${STS_ADMIN_SERVER}
      - AppModelConfiguration:CorsOrigins:2=http://localhost:${HOST_PORT}
      - AppModelConfiguration:CorsOrigins:3=${HOST_URL}
      - AppModelConfiguration:ApiName=${API_NAME}
      - AppModelConfiguration:MapKey="your_google_map_key"
      - AppModelConfiguration:ImgFolder=~/images
      - SmtpConfiguration:DisplayName="Display Name"
      - SmtpConfiguration:EnableSsl=false
      - SmtpConfiguration:MailAddress=your@mailaddress.com
      - SmtpConfiguration:Password="mailpassword"
      - SmtpConfiguration:Port=587
      - SmtpConfiguration:Server="your.mail.server"
      - SmtpConfiguration:User="user@mailserver.com"
      - BingTranslateConfiguration:Key="key"
