<div class="card">
  <div class="card-header">
    <strong>PROFILE</strong>
    <a class="btn btn-sm btn-info float-right" onclick="javascript:window.print();" href="#"><i class="fa fa-print"></i>
      Print</a>
    <a class="btn btn-sm btn-info float-right" href="#"><i class="fa fa-save"></i> Save</a>
  </div>
  <div class="card-body">
    <ngx-avatar name="{{user!.name}}" class="img-avatar" src="{{user!.picture}}" value="28%"
      gravatarId="{{user!.email}}" size="50" [round]="true">
    </ngx-avatar>
    <div class="avatar"><span class="avatar-status badge-success"></span>
    </div>
    <div class="row mb-4">
      <div class="col-sm-4">
        <div><strong>{{user!.name}}</strong></div>
        <div>Konopnickiej 42</div>
        <div>43-190 Mikolow, Poland</div>
        <div>Email: {{user!.email}}</div>
        <div>Phone: +48 123 456 789</div>
      </div>
      <div class="col-sm-4">
        <div><strong>{{user!.name}}</strong></div>
        <div>Konopnickiej 42</div>
        <div>43-190 Mikolow, Poland</div>
        <div>Email: {{user!.email}}</div>
        <div>Phone: +48 123 456 789</div>
      </div>
      <div class="col-sm-4">
        <div>Invoice <strong>#90-98792</strong></div>
        <div>March 30, 2013</div>
        <div>VAT: PL9877281777</div>
        <div>Account Name: BootstrapMaster.com</div>
        <div><strong>SWIFT code: 99 8888 7777 6666 5555</strong></div>
      </div>
    </div>
  </div>
</div>
