#assets div:hover{
  font-weight:bold
}
#assets div:hover i{
  font-weight: bold
}

.up {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  color: orange
}
