
<!--modal edit -->

	<div class="modal-header">
		<h4 class="modal-title">{{'LANGUAGE.TITLE' | translate }}</h4>
		<button type="button" class="close" (click)="hideModal()">×</button>		
	</div>
	<div class="modal-body">
		<app-form-language [edit]="edit" [(language)]="entity" ></app-form-language>
	</div>
	<div class="modal-footer">		
		<button type="button" (click)="hideModal()" class="btn btn-default">{{'LANGUAGE.FORM.BUTTON.CANCEL' | translate }}</button>
		<button type="button" (click)="save(entity)" appEnter class="btn btn-primary">{{'LANGUAGE.FORM.BUTTON.SAVE' | translate }}</button>
	</div>

