:host .tel,
:host .tel:active,
:host .tel:hover,
:host .tel:visited {
  font-weight: bold;
  text-decoration: none;
  font-size: 22px;
  padding-top: 12px;
  color: #fff
}

:host .tel:hover {
  color: #888 !important
}
