@*<app asp-prerender-module="wwwroot/dist/vendor"> Loading...</app>*@
@*<div class="loading">
    <div>
        <div>
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>

    </div>
</div>*@
