<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"   href="https://npmcdn.com/angular2-toaster@5.0.0/toaster.css" />

    <!-- Icons -->
    <link href="~/admin/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/admin/assets/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="~/admin/assets/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/admin/assets/ico/favicon.ico">

</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed pace-done aside-menu-hidden">
    <script>window.__theme = 'bs4';</script>
    @RenderBody()
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <environment names="Development">
        <script src="~/dist/inline.js" asp-append-version="true"></script>
        <script src="~/dist/polyfills.js" asp-append-version="true"></script>
        <script src="~/dist/vendor.js" asp-append-version="true"></script>
        <script src="~/dist/main.js" asp-append-version="true"></script>
        <script src="~/dist/admin.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/inline.min.js" asp-append-version="true"></script>
        <script src="~/dist/polyfills.min.js.gz" asp-append-version="true"></script>
        <script src="~/dist/vendor.min.js.gz" asp-append-version="true"></script>
        <script src="~/dist/main.min.js.gz" asp-append-version="true"></script>
        <script src="~/dist/admin.min.js.gz" asp-append-version="true"></script>
    </environment>


    <a href="#" class="fa scrollup"></a>

    <!-- Scripts -->
    <!-- Post Scripts -->


    @RenderSection("scripts", required: false)
</body>
</html>
