
<!--modal edit -->

	<div class="modal-header">
		<h4 class="modal-title">{{'ABOUT.TITLE' | translate }}</h4>
		<button type="button" class="close" (click)="hideModal()">×</button>		
	</div>
	<div class="modal-body">
		<app-form-about [edit]="edit" [(about)]="entity" ></app-form-about>
	</div>
	<div class="modal-footer">		
		<button type="button" (click)="hideModal()" class="btn btn-default">{{'ABOUT.FORM.BUTTON.CANCEL' | translate }}</button>
		<button type="button" (click)="save(entity)" appEnter class="btn btn-primary">{{'ABOUT.FORM.BUTTON.SAVE' | translate }}</button>
	</div>

