
<!--modal edit -->

	<div class="modal-header">
		<h4 class="modal-title">{{'UPLOAD_FILE.TITLE' | translate }}</h4>
		<button type="button" class="close" (click)="hideModal()">×</button>		
	</div>
	<div class="modal-body">
		<app-form-upload-file [edit]="edit" [(uploadFile)]="entity" ></app-form-upload-file>
	</div>
	<div class="modal-footer">		
		<button type="button" (click)="hideModal()" class="btn btn-default">{{'UPLOAD_FILE.FORM.BUTTON.CANCEL' | translate }}</button>
		<button type="button" (click)="save(entity)" appEnter class="btn btn-primary">{{'UPLOAD_FILE.FORM.BUTTON.SAVE' | translate }}</button>
	</div>

